@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    position: absolute;
    width: 1440px;
    height: 1489px;
    left: 0px;
    top: 0px;
    
    background: #FAFAFA;
}

.heading {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 243px;
    top: 110px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    
    color: #000000;
}

.introduction h3 {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 736px;
    top: 110px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    text-transform: uppercase;
    
    color: #000000;
}

.introduction p {
    position: absolute;
    width: 439px;
    height: 87px;
    left: 736px;
    top: 147px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

.grid-item-p1 img{
    position: absolute;
    width: 238px;
    height: 426.5px;
    left: 240px;
    top: 244.5px;

    margin: 0 56.64px 0 0;
}

.grid-item-p1 p {
    position: absolute;
    width: 102px;
    height: 16px;
    left: 488px;
    top: 330px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg)
}

.grid-item-p1 h3 {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 240px;
    top: 686px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

.grid-item-p2 img{
    position: absolute;
    width: 238px;
    height: 426.5px;
    left: 534.64px;
    top: 396px;
}

.grid-item-p2 p {
    position: absolute;
    width: 85px;
    height: 16px;
    left: 808px;
    top: 430px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg);
}

.grid-item-p2 h3 {
    position: absolute;
    width: 128px;
    height: 27px;
    left: 540px;
    top: 880px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

.grid-item-p3 img{
    position: absolute;
    width: 238px;
    height: 426.5px;
    left: 863.54px;
    top: 330px;
}

.grid-item-p3 p {
    position: absolute;
    width: 65px;
    height: 16px;
    left: 1165px;
    top: 330px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg);
}

.grid-item-p3 h3 {
    position: absolute;
    width: 70px;
    height: 27px;
    left: 901px;
    top: 686px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}

.grid-item-p4 img{
    position: absolute;
    width: 238px;
    height: 426.5px;
    left: 241px;
    top: 800px;
}

.grid-item-p4 p {
    position: absolute;
    width: 77px;
    height: 16px;
    top: 845px;
    left: 488px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg);
}

.grid-item-p4 h3 {
    position: absolute;
    width: 86px;
    height: 27px;
    left: 241px;
    top: 1201px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

.grid-item-p5 img{
    position: absolute;
    width: 238px;
    height: 426.5px;;
    left: 534.64px;
    top: 944px;
}

.grid-item-p5 p {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 835px;
    top: 944px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg);
}

.grid-item-p5 h3 {
    position: absolute;
    width: 124px;
    height: 27px;
    left: 571px;
    top: 1306px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}