@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

.heading {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 243px;
    top: 110px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    
    color: #000000;
}

.introduction h3 {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 736px;
    top: 110px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    text-transform: uppercase;
    
    color: #000000;
}

.introduction p {
    position: absolute;
    width: 439px;
    height: 87px;
    left: 736px;
    top: 147px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

.grid-item-p1 img{
    position: absolute;
    width: 238px;
    height: 426.5px;
    left: 240px;
    top: 330px;
}

.grid-item-p1 p {
    position: absolute;
    width: 102px;
    height: 16px;
    left: 438px;
    top: 365px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg)
}

.grid-item-p1 h3 {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 242px;
    top: 740px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

.grid-item-p2 img{
    position: absolute;
    width: 238px;
    height: 426.5px;
    left: 550px;
    top: 396px;
}

.grid-item-p2 p {
    position: absolute;
    width: 85px;
    height: 16px;
    left: 755px;
    top: 425px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg);
}

.grid-item-p2 h3 {
    position: absolute;
    width: 128px;
    height: 27px;
    left: 550px;
    top: 805px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

.grid-item-p3 img{
    position: absolute;
    width: 238px;
    height: 426.5px;
    left: 863.54px;
    top: 330px;
}

.grid-item-p3 p {
    position: absolute;
    width: 65px;
    height: 16px;
    left: 1080px;
    top: 345px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg);
}

.grid-item-p3 h3 {
    position: absolute;
    width: 70px;
    height: 27px;
    left: 865px;
    top: 740px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}

.grid-item-p4 img{
    position: absolute;
    width: 238px;
    height: 426.5px;
    left: 241px;
    top: 880px;
}

.grid-item-p4 p {
    position: absolute;
    width: 77px;
    height: 16px;
    left: 450px;
    top: 900px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg);
}

.grid-item-p4 h3 {
    position: absolute;
    width: 86px;
    height: 27px;
    left: 242px;
    top: 1290px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

.grid-item-p5 img{
    position: absolute;
    width: 238px;
    height: 426.5px;;
    left: 550px;
    top: 944px;
}

.grid-item-p5 p {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 765px;
    top: 965px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg);
}

.grid-item-p5 h3 {
    position: absolute;
    width: 128px;
    height: 27px;
    left: 550px;
    top: 1355px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

.grid-item-p6 img{
    position: absolute;
    width: 238px;
    height: 426.5px;
    left: 863.54px;
    top: 880px;
}

.grid-item-p6 p {
    position: absolute;
    width: 77px;
    height: 16px;
    left: 1075px;
    top: 900px;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    
    color: #000000;
    
    transform: rotate(90deg);
}

.grid-item-p6 h3 {
    position: absolute;
    width: 92px;
    height: 27px;
    left: 865px;
    top: 1290px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

footer{
    position: absolute;
    width: 287px;
    height: 17px;
    left: 547px;
    top: 1448px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    
    text-align: center;
    
    color: #A9A9A9;
}

@media  only screen and (max-width:500px) { 
    .heading{
        position: absolute;
        width: 278px;
        height: 47px;
        left: 12px;
        top: 71px;
        
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.045em;
        
        color: #000000;
    }

    .introduction h3{
        position: absolute;
        width: 117px;
        height: 27px;
        left: 12px;
        top: 156px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        
        text-transform: uppercase;
        
        color: #000000;
    }
}
